<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvpb.miaosha.mapper.rdb.MiaoshaGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.lvpb.miaosha.model.db.MiaoshaGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="miaosha_price" property="miaoshaPrice" jdbcType="DECIMAL" />
    <result column="stock_count" property="stockCount" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="BIGINT" />
    <result column="end_time" property="endTime" jdbcType="BIGINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, goods_id, miaosha_price, stock_count, start_date, end_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from miaosha_goods
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from miaosha_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.lvpb.miaosha.model.db.MiaoshaGoods" >
    insert into miaosha_goods (id, goods_id, miaosha_price, 
      stock_count, start_date, end_time
      )
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{miaoshaPrice,jdbcType=DECIMAL}, 
      #{stockCount,jdbcType=INTEGER}, #{startDate,jdbcType=BIGINT}, #{endTime,jdbcType=BIGINT}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.lvpb.miaosha.model.db.MiaoshaGoods" >
    insert into miaosha_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="miaoshaPrice != null" >
        miaosha_price,
      </if>
      <if test="stockCount != null" >
        stock_count,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="miaoshaPrice != null" >
        #{miaoshaPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockCount != null" >
        #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=BIGINT},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.lvpb.miaosha.model.db.MiaoshaGoods">
    update miaosha_goods
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="miaoshaPrice != null" >
        miaosha_price = #{miaoshaPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockCount != null" >
        stock_count = #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=BIGINT},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.lvpb.miaosha.model.db.MiaoshaGoods" >
    update miaosha_goods
    set goods_id = #{goodsId,jdbcType=BIGINT},
      miaosha_price = #{miaoshaPrice,jdbcType=DECIMAL},
      stock_count = #{stockCount,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=BIGINT},
      end_time = #{endTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectListByCon" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from miaosha_goods
    where 1 = 1
    <if test="id != null">
      and id = #{id,jdbcType=BIGINT}
    </if>
    <if test="goodsId != null">
      and goods_id = #{goodsId,jdbcType=BIGINT}
    </if>
    <if test="miaoshaPrice != null">
      and miaosha_price = #{miaoshaPrice,jdbcType=DECIMAL}
    </if>
    <if test="stockCount != null">
      and stock_count = #{stockCount,jdbcType=INTEGER}
    </if>
    <if test="startDate != null">
      and start_date = #{startDate,jdbcType=BIGINT}
    </if>
    <if test="endTime != null">
      and end_time = #{endTime,jdbcType=BIGINT}
    </if>
  </select>

</mapper>